.player-points {
    display: inline-block;
    background-color: var(--color-old-silver);
    width: 1.6rem;
    height: 1.6rem;
    border: 0.1rem solid var(--color-floral-white);
}

.player-points.-scored {
    background-color: var(--color-mantis); 
    width: 1.6rem;
    height: 1.6rem;
}